useDynLib(glmmrBase, .registration=TRUE)
S3method(print,mcml)
S3method(summary,mcml)
export(Beta)
export(Covariance)
export(MeanFunction)
export(Model)
export(cross_df)
export(match_rows)
export(nelder)
export(nest_df)
export(progress_bar)
importFrom(methods,is)
importFrom(stats,family)
importFrom(stats,formula)
importFrom(stats,model.matrix)
importFrom(Rcpp, evalCpp)
importFrom(R6, R6Class)
importFrom(digest, digest)
import(Matrix)
importFrom("utils", "capture.output")