useDynLib(glmmrBase, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(stats, model.matrix)
importFrom(stats, family)
importFrom(stats, formula)
importFrom(methods, is)
importFrom(R6, R6Class)
